.custom-checkbox {
  display: flex;
  align-items: center;

  span {
    width: 18px;
    height: 18px;
    flex: none;
    border: 1px solid #ddd;
    margin-right: 5px;
  }

  input {
    display: none;
    &:checked + span {
      background: url('#{$image-path}/checkbox-img.png') no-repeat center !important;
      background-size: 100% 100%;
      border: none;
    }

    // radio 일 경우
    &[type='radio'] + span {
      border-radius: 50%;
    }
    &[type='radio']:checked + span {
      background: none !important;
      border: 5px solid #2e8bc5;
    }
  }

  p {
    font-size: 1rem;
    color:#000;

    em {
      font-style: normal;
    }
    .gray {
      color:#666666;
    }
  }

}
