.editor {
  .tx-toolbar .tx-bar li a {
    span {
      font-size: 12px !important;
    }

  }

  .tx-toolbar {
    height: auto !important;
  }
  .tx-toolbar-boundary  {
    height: auto;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  .tx-toolbar .tx-list {
    height: auto;
  }
}


