._modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background: rgba(0,0,0,0.25);
  display: flex;
  align-items: center;
  justify-content: center;

  .schedule__tabs {
    margin: 0;
    background:#fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    & + ._modal__block {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

._modal__description {
  font-size: 16px;
  @include theme('color', 'default-color');
  line-height: 1.5em;
  padding-bottom: 1.5em;
}

._modal__content {
  width: 100%;
  max-width: 450px;
  border-radius: 10px;
  overflow: auto;
  max-height: 100vh;
  @include theme('background', 'background');
}

._modal__header {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:#eee;
  padding:0 20px;
  h2 {
    font-weight: 600;
    flex: 1;
  }
  button {
    flex: none;
    width: 16px;
    height: 16px;

    svg {
      vertical-align: super;
    }
  }
}

._modal__body {
  padding: 20px;
  @include theme('background', 'background');
  &._modal__body--bg-none {
    background: #eee;
    padding:0 20px 20px;
  }
}

._modal__row {
  display: flex;
  align-items: center;
  &.mt-10 {
    margin-top: 10px;
  }
  label {
    font-weight: 600;
    font-size: 14px;
    width: 80px;
    flex: none;
    @include theme('color', 'default-color');
  }
  input[type="file"] {
    width: 100%;
  }

  .select {
    flex: 1;
    select {
      width: 100%;
      height: 40px;
      border-radius: 5px;
      border: 1px solid #ddd;
      padding:0 10px;
      @include theme('border-color', 'border');
      background: #fff url('#{$image-path}/small-arrow-bottom.png') no-repeat  calc(100% - 10px) center !important;
    }
  }
  .input {
    flex: 1;
    input {
      width: 100%;
      background:#fff;
      height: 40px;
      border-radius: 5px;
      border: 1px solid #ddd;
      @include theme('border-color', 'border');
    }
    textarea {
      width: 100%;
      background:#fff;
      height: 120px;
      border-radius: 5px;
      border: 1px solid #ddd;
      @include theme('border-color', 'border');
    }
  }
}


._modal__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  button {
    flex: 1;
    height: 45px;
    background:#eee;
    border-radius: 5px;
    &.submit {
      background: #2e8bc5;
      color:#fff;
    }
    & ~ button {
      margin-left: 10px;
    }
  }
}

._modal__foot {
  background:#ddd;
  padding: 20px;
  ._modal__actions {
    justify-content: flex-end;
    margin: 0;
  }
  button {
    width: 75px;
    flex: none;
    height: 35px;
    font-size: 14px;
  }
}

._modal__block {
  padding: 0 20px;
  background:#fff;
  border-radius: 5px;
  & ~ ._modal__block {
    margin-top: 20px;
  }

  .help-text {
    font-size: 14px;
    color:#999;
    line-height: 1.25em;
    padding-left: 1.125em;
    background: url('#{$image-path}/icon-help.png') no-repeat left  5px !important;
    & ~ .help-text {
      margin-top: 8px;
    }
  }



  &._modal__block--has-header {
    padding: 0 20px;
  }
  ._modal__block-body {
    padding: 20px 0;

    ._modal__block-body {
      &:first-child {
        padding: 0;
        padding-bottom: 20px;
      }
      &:last-child {
        padding: 0;
        padding-top: 20px;
      }

      .insertForm__name {
        width: auto;
        white-space: nowrap;
        padding-right: 25px;
      }
    }

    & ~ ._modal__block-body {
      border-top: 1px solid #ddd;
    }

    .custom-checkbox {
      & ~ .custom-checkbox {
        margin-top: 15px;
      }
    }
  }
  ._modal__block-header {
    display: flex;
    align-items: center;
    height: 55px;
    border-bottom: 1px solid #ddd;
    h2 {
      font-size: 1.125rem;
      color:#000;

      &.i-quiz {
        background: url('#{$image-path}/title-icon-quiz.png') no-repeat left center;
        padding-left: 1.75em;
      }
      &.i-debate {
        background: url('#{$image-path}/i-debate.png') no-repeat left center;
        padding-left: 1.75em;
      }
      &.i-survey {
        background: url('#{$image-path}/i-survey.png') no-repeat left center;
        padding-left: 1.75em;
      }
      &.i-homework {
        background: url('#{$image-path}/title-icon-homework.png') no-repeat left center;
        padding-left: 1.75em;
      }
      &.i-exam {
        background: url('#{$image-path}/i-exam.png') no-repeat left center;
        padding-left: 1.75em;
      }
    }

    .custom-checkbox {
      margin-right: 30px;
    }

  }
  .flex {
    display: flex;
    height: 40px;
    align-items: center;

    & ~ .flex {
      margin-top: 10px;
    }
    &.align-top {
      height: auto;
      align-items: flex-start;

      .editor {
        flex: 1;
      }
    }

    .custom-checkbox {
      margin-top: 0 !important;
      & ~ .custom-checkbox {
        margin-left: 20px;
      }
    }

    .quiz-true,
    .quiz-false {
      width: 120px;
      flex: none;
      padding-left: 1.25em;
    }
    .quiz-true {
      color:#2e8bc5;
      background: url('#{$image-path}/quiz-true.png') no-repeat left center !important;
    }
    .quiz-false {
      color:#ff2626;
      background: url('#{$image-path}/quiz-false.png') no-repeat left center !important;
    }

  }

  .window-cofing {
    h4 {
      width: 135px;
    }
  }

  .timeform {
    margin-left: 45px;
    h4 {
      margin-right: 10px;
    }
  }

  .select {
    margin-right: 10px;
    flex: 1;

    &.long {
      select {
        width:  235px !important;
      }
    }

    select {
      border: 1px solid #ddd;
      border-radius: 5px;
      height: 40px;
      padding:0 15px;
      width: 100px;
      font-size: 14px;
      color:#666666;
      background: #fff url('#{$image-path}/nav-toggle-down.png') no-repeat calc(100% - 15px) center;
    }
  }

  .input {
    margin-right: 10px;
    flex: 1;
    input {
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 5px;
      height: 50px;
      padding:0 15px;
      font-size: 14px;
      color:#666666;
    }
  }
  ._btn {
    display: block;
    height: 50px;
    background:#666;
    border-radius: 5px;
    color:#fff;
    font-size: 14px;
    padding:0 15px;
    flex: none;
    white-space: nowrap;
    &.small {
      height: 40px;
    }
    &.bg-none {
      background: none;
      color:#666;
      border: 1px solid #999;
      line-height: 38px;
      margin-right: 10px;
    }
    &._btn--uploader {
      padding-left: 40px;
      background: #666 url('#{$image-path}/icon-down.png') no-repeat 14px center !important;
    }
    &._btn--img {
      padding-left: 40px;
      margin-top: 0;
      background: #666 url('#{$image-path}/icon-upload-img.png') no-repeat 14px center !important;
    }
  }
}


.insertForm {

  .row {
    margin: 0;
    & ~ .row {
      margin-top: 10px;
    }
  }
  .insertForm__name {
    width: 155px;
    flex: none;
    line-height: 20px;
    padding: 10px 0;
    &.required {
      &:after {
        content: '*';
        color:#2e8bc6;
      }
    }
  }

  .insertForm__content {
    flex: 1;
    .help-text-block {
      margin-top: 10px;
    }

    .file-btn {
      input {
        display: none;
      }
      ._btn {
        background: none;
        color:#666;
        border: 1px solid #999;
        line-height: 38px;
        margin-right: 10px;
      }
    }
    .input {
      width: 250px;
      flex: none;
      &.full {
        width: 100%;
      }
      &.short {
        width: 100px;
      }
      input {
        height: 40px;
      }
    }
    h2 {

    }
  }
}
