.page {
  padding: 30px;
  @media screen and (max-width: 768px) {
    padding: 15px;
  }
  .page__title {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1em;
    padding-bottom: 25px;
    @include theme('color', 'nav-block-name');
    @media screen and (max-width: 768px) {
      font-size: 1.5rem;
      padding-bottom: 15px;
    }
  }
}
