

.quiz {
  padding-top: 20px;
}
.quiz-help {
  padding-bottom: 20px;
}
.quiz-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 15px;
  span {
    color:#2e8bc5;
  }
}
.quiz-content {
  background:#f6f8fb;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 20px;
  p {
    font-size: 1rem;
    color:#666666;
    line-height:1.875em;
  }
}
.quiz-result {
  border-top: 1px solid #ddd;
  padding: 30px 0;
  p {
    font-size: 1rem;
    color:#666666;
  }
}
.quiz-result-text {
  margin-bottom: 10px;
  display: inline-block;
  padding:0 1em;
  font-size: 1rem;
  font-weight: 600;
  line-height: 40px;
  border: 1px solid #666;
  border-radius: 5px;
  &.incorrect {
    border-color:#f00;
  }
}

.answer-button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;

  &.end {
    justify-content: flex-end;
    margin-right: -5px;
  }
  .btn {
    margin:0 5px;
    min-width: 160px;
    line-height: 50px;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #2e8bc5;;
    padding:0 15px;
    background:#fff;
    color:#2e8bc5;
    &.submit {
      background:#2e8bc5;
      color:#fff;
    }
  }

}

.quiz-answer {
  padding: 30px 0;

  &.submitted {
    .custom-checkbox{
      padding-left: 80px;
    }
  }
}
.quiz-answer-item {
  & ~ .quiz-answer-item {
    margin-top: 15px;
  }

  .custom-checkbox {
    align-items: flex-start;
    span {
      margin-top: 5px;
    }

    &.correct {
      background: url('#{$image-path}/answer-result-img.png') no-repeat left top !important;
    }
  }



  .quiz-answer-hint {
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 2em;
    padding: 5px 10px;
    line-height: 20px;
    display: inline-block;
    margin-top: 5px;

    &.true {
      color:#6ea24d;
    }
    &.false {
      color:#ff7a7a;
    }
  }
}

.quiz-buttons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quiz-options {

}

.quiz-option-item {
  border-radius: 5px;
  border: 1px solid #ddd;
  display: flex;
  position: relative;
  & ~ .quiz-option-item {
    margin-top: 10px;
  }
  .quiz-remove {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    svg {
      vertical-align: top;
    }
  }
  .quiz-option-label {
    width: 70px;
    flex: none;
    background:#f6f8fb;
    display: flex;
    align-items: center;
    justify-content: center;

    .custom-checkbox {
      display: block;
      text-align: center;
    }
    span {
      display: block;
      margin:0 auto;
      margin-top: 5px;
    }
    p {
      display: block;
    }
  }
  .quiz-option-body {
    padding: 20px;
    padding-top: 60px;
    flex: 1;
  }
  .editor {
    flex: 1;
  }

  .flex {
    align-items: center;
    height: auto;
  }
  h3 {
    font-size: 1rem;
    width: 70px;
    flex: none;
  }
}
