.survey {
  ._btn {
    background:#2e8bc5;
  }

  .survey__header {
    height: 80px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include theme('border-color', 'border');
    @media screen and (max-width: 1200px) {
      display: block;
      border: 1px solid #ddd;
      @include theme('border-color', 'border');
      border-top: none;
      height: auto;
    }
  }
  .survey__title {
    font-size: 1.5rem;
    font-weight: 600;
    @include theme('color', 'nav-block-name');
    @media screen and (max-width: 1200px) {
      text-align: center;
      padding: 15px 10px;
      border-bottom: 1px solid #ddd;
      @include theme('border-color', 'border');
      font-size:1.25rem;
    }
  }
  .survey__info {
    margin-left: auto;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1200px) {

      padding: 15px 10px;
      display: block;
    }
    .block {
      display: flex;
      align-items: center;
      color:#666666;
      .theme-dark &{
        color:#fff;
      }
      @media screen and (max-width: 1200px) {
        justify-content: center;
      }
    }
    .block--clock {
      margin-left: 40px;
      @media screen and (max-width: 1200px) {
        margin: 20px 0 0;
      }
      strong {
        padding-left: 2em;
        background: url('#{$image-path}/i-clock.png') no-repeat left center !important;
        @include theme('color', 'nav-block-name');
        .theme-dark &{
          background: url('#{$image-path}/i-clock-white.png') no-repeat left center !important;
          background-size: auto 20px !important;

        }
      }
      .clock {
        display: flex;
        align-items: center;
        i {
          font-style: normal;
          margin:0 5px;
        }
        span {
          width: 45px;
          height: 35px;
          line-height: 33px;
          border-radius: 5px;
          text-align: center;
          border: 1px solid #ddd;
          .theme-dark & {
            border-color:#fff;
          }
        }
      }

    }
    strong {
      color:#000000;
      margin-right: 5px;
      @include theme('color', 'nav-block-name');

    }

  }

  .survey__state {
    display: flex;
    align-items: center;
    height: 100px;
    padding:0 30px;
    position: relative;
    flex-wrap: wrap;

    @media screen and (max-width: 1200px) {
      height: auto;
      padding: 20px 0;
    }

    .btn {
      display: flex;
      align-items: center;
      color:#666666;
      line-height: 40px;
      padding:0 20px;
      border-radius: 5px;
      border: 1px solid #666;
      @include theme('color', 'default-color');
      svg {
        margin-right: 5px;
      }
      @media screen and (max-width: 1200px) {
        padding:0 5px;
      }
    }

    .right {
      display: flex;
      align-items: center;
      @media screen and (max-width: 1200px) {
        flex: 1;
      }
      @media screen and (max-width: 768px) {
        width: calc(100% + 6px);
        margin:10px -3px 0;
      }

      .btn {
        margin-left: 10px;

        @media screen and (max-width: 1200px) {
          width: 100%;
          justify-content: center;
        }
        @media screen and (max-width: 768px) {
          margin:0 3px;
          flex: 1;
          justify-content: center;

          svg {
            display: none;
          }
        }
      }
    }
    .left{
      margin-right: auto;
      display: flex;
      align-items: center;
      @media screen and (max-width: 1200px) {
        flex: none;
      }
      @media screen and (max-width: 768px) {
        width: calc(100% + 10px);
        margin:0 -5px;
      }

      .btn {
        border-color:#2e8bc5;
        color:#2e8bc5;
        margin-right: 10px;
        @media screen and (max-width: 1200px) {
          text-indent: -9999px;
          overflow: hidden;
          margin-right: 3px;
        }
        @media screen and (max-width: 768px) {
          margin:0 5px;
          flex: 1;
          justify-content: center;
        }


        &.active {
          background:#2e8bc5;
          color:#fff;
        }
      }
    }
    .center {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50% , -50%);
      display: flex;
      align-items: center;
      @media screen and (max-width: 1200px) {
        order: 5;
        position: static;
        transform: none;
        width: 100%;
        flex: none;
        justify-content: center;
        margin-top: 20px;
      }

      .survey__progress {
        display: flex;
        align-items: center;
        @include theme('color', 'nav-block-name');

        strong {
          font-weight: 600;
          font-size: 1.25rem;

          @media screen and (max-width: 1200px) {
            font-size: 1rem;
          }
        }
        .bar {
          width: 200px;
          background:#e5eaf1;
          border-radius: 2em;
          overflow: hidden;
          @media screen and (max-width: 768px) {
            width: 120px;
          }
          span {
            border-radius: 2em;
            display: block;
            width: 0;
            background:#2e8bc5;
            height: 5px;
          }
        }
        .state {
          display: flex;
          margin:0 10px 0 20px;
          span {
            color:#2e8bc5;;
          }
        }
      }
      p {
        padding:0 20px;
        line-height: 1em;
        font-size:1.25rem;
        @include theme('color', 'nav-block-name');
        & ~ p {
          border-left: 1px solid #ddd;
        }
        @media screen and (max-width: 1200px) {
          font-size: 1rem;
        }

        strong {
          margin-right: 10px;
          font-size:1.25rem;
          @media screen and (max-width: 1200px) {
            font-size: 1rem;
          }
        }
        span {
          color:#2e8bc5;;
        }
      }
    }
  }

  .survey__body {
    padding-bottom: 30px;
    .survey__body-content {
      background: #999;
      padding: 30px;
      display: flex;
      @media screen and (max-width: 1200px) {
        padding: 5px;
        border-radius: 5px;
        display: block;
      }
    }

    .survey__content-block-list {
      padding: 30px 0 100px;
      min-height: 100%;
      position: relative;

      .survey__controller {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        left: 0;
        bottom: 30px;
        width: 100%;

        .control-btn {
          display: flex;
          align-items: center;

          span {
            width :40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #ddd;
            border-radius: 5px;
          }
          p {
            color:#666;
            font-size: 14px;
            margin:0 10px;
          }
        }
      }
    }
    .survey__content-block {
      h2 {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 15px;
        @include theme('color', 'nav-block-name');
      }
      & ~ .survey__content-block {
        margin-top: 40px;
      }

      .survey__type2 {
        ._dataTable table {
          min-width: 768px;
        }
      }
    }

    .survey__body-answer {
      background:#fff;
      border-radius: 5px;
      overflow: hidden;
      flex: 1;
      width: 320px;
      flex: none;
      margin-left: 10px;
      @media screen and (max-width: 1200px) {
        width: 100%;
        margin: 0;
        margin-top: 10px;
      }
      ._dataTable table {
        min-width: 100%;
      }
    }
    .survey__body-inner {
      display: flex;
      border-radius: 5px;
      overflow: hidden;
      flex: 1;
      @media screen and (max-width: 1200px) {
        display: block;
      }
    }
    .survey__content {
      flex: 1;
      background:#fff;
      min-height: 530px;
      position: relative;
      padding:0 40px;
      @include theme('background', 'background');
      @media screen and (max-width: 1200px) {
        padding:0 15px;
      }
    }
    .survey__init {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50% , -50%);
      .img {
        text-align: center;
        margin-bottom: 1.5em;
      }


    }
    .survey__nav {
      width: 80px;
      flex: none;
      background:#dfeaf2;
      @media screen and (max-width: 1200px) {
        width: 100%;
        display: flex;
        align-items: center;
      }
    }
    .survey__nav-state-img {
      height:60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 40px;
      color:#adbfcc;
      @media screen and (max-width: 1200px) {
        width: 60px;
        flex: none;
      }
    }
    .survey__nav-list {
      @media screen and (max-width: 1200px) {
        display: flex;
        height: 60px;
        align-items: center;
        overflow: auto;
      }
      .survey__nav-item {
        position: relative;
        width: 40px;
        height: 40px;
        display: block;
        margin:0 auto;
        @media screen and (max-width: 1200px) {
          width: 40px;
          flex: none;
          margin:0 10px !important;
        }
        i {
          position: absolute;
          z-index: 5;
          background:#fff;
          color:#2e8bc5;
          width: 15px;
          height: 15px;
          border-radius:3px;
          right:-3px;
          top: -3px;
          svg {
            vertical-align: top;
          }
        }

        & ~ .survey__nav-item {
          margin-top: 20px;
        }

      }
      button {
        width: 100%;
        height: 100%;
        background:#2e8bc5;
        color:#fff;
        border-radius:50%;
        font-size: 12px;
        position: relative;
        &.number {
          background: none;
          border: 3px solid #2e8bc5;
          color:#2e8bc5;
          &:disabled {
            color:#adbfcc;
            border-color:#adbfcc;
          }
        }
        span {
          font-size: 20px;
        }
        &.more {
          background:#adbfcc;
        }

      }
    }
  }

}


.survey__select-type-content {
  padding: 15px 0;
}
.survey__select-tab {
  border-bottom: 1px solid #ddd;
  button {
    height: 65px;
    width: 135px;
    color:#999999;
    font-size: 18px;
    &.active {
      border-bottom: 4px solid #333;
      color:#333;
    }
  }
}
.survey__select-type {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  margin:0 -5px;
}

.survey__select-type-item {
  flex: 1;
  border-radius: 5px;
  padding: 40px 0;
  text-align: center;
  background:#f2f2f2;
  @media screen and (max-width: 1200px) {
    width: calc(33.333% - 10px);
    margin:0 5px !important;
    flex: none;
    &:nth-child(n + 4) {
      margin-top: 10px !important;
    }
  }
  @media screen and (max-width: 768px) {
    width: calc(50% - 10px);
    &:nth-child(n + 3) {
      margin-top: 10px !important;
    }
  }
  .theme-dark & {
    background: none;
    border: 1px solid #ddd;
    color:#999;

    .custom-checkbox {
      span {
        background: none !important;
        border: 5px solid #fff ;
      }
    }
  }
  & ~ .survey__select-type-item {
    margin-left: 10px;
  }
  .img {
     height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    margin-top: 10px;
  }
  .custom-checkbox {
    width: 18px;
    margin:0 auto;
    margin-top: 20px;
    span {
      margin: 0;
      background:#fff;
    }
  }
}

.survey__content-form {
  padding: 15px 0;
}

.survey__content-form-actions {
  display:flex;
  align-items: center;
  justify-content: flex-end;
  @media screen and (max-width: 768px) {
    justify-content: flex-start;
  }

  button {
    height: 60px;
    font-size: 18px;
    width: 135px;
    color:#999;
    border-bottom: 4px solid #999999;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 768px) {
      width: auto;
      padding:0 10px;
      height: 45px;
      font-size: 16px;
    }

    @include theme('color', 'default-color');

    @include theme('border-color', 'border');

    svg {
      margin-left: 5px;
    }
    &.active {
      color:#000;
      border-color:#000;
      .theme-dark & {
        color:#fff;
        border-color:#fff;
      }

    }
  }
}

.survey__content-lists {
  padding: 30px 0;
  ._btn {
    margin:0 auto;
    margin-top: 20px;
  }
}

.flex-1 {
  flex: 1 !important;
}
.survey__content-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  @include theme('border-color', 'border');
  &.draggable {

  }

  & ~ .survey__content-item {
    margin-top: 10px;
  }
}

.survey__content-item-body {

  ._modal__block{
    padding: 10px 30px;
    @media screen and (max-width: 768px) {
      padding:10px;
    }
  }
  ._modal__block-body {

    .flex {
      .select {
        flex : none;
      }
      span {
        margin-right: 5px;
        .theme-dark & {
          color:#fff;
        }
      }
    }
  }
}
.survey__content-item-foot {
  height: 55px;
  padding:0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  span {
    background:#6fa34d;
    color:#fff;
    border-radius: 3px;
    line-height: 20px;
    width: 40px;
    text-align: center;
    font-size: 14px;
  }
  p {
    color:#666;
    font-size: 14px;
    padding-left: 1em;
  }
}
.survey__content-item-header {
  height: 60px;
  background:#f6f8fb;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @include theme('background', 'content-bg');

  h2 {
    margin-right: auto;
    font-size: 1rem;
    font-weight: 600;
    @include theme('color', 'nav-block-name');
  }
  button {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    background:#fff;
    border-radius: 50%;
    margin-left: 10px;
    svg {
      vertical-align: middle;
      margin-top: -5px;
    }
  }
}

.survey__type1 {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  @media screen and (max-width: 768px) {
    padding: 15px;
  }
  .survey__type1-description {
    color:#666;
    font-size: 1rem;
    line-height: 1.25em;
    margin-bottom: 15px;
    @include theme('color', 'default-color');

  }
  .survey__type1-selector {
    .flex {
      height: auto;
      @media screen and (max-width: 768px) {
        display: block;

        .custom-checkbox {
          margin: 0;
          & ~ .custom-checkbox {
            margin-top: 10px !important;
          }
        }
      }

      &.column {
        display: block;
      }
    }
    .block {
      .custom-checkbox {

        & ~ .custom-checkbox {
          margin-top: 5px;
        }
      }
    }
  }
}


.survey {
  .survey__body-answer {
    padding: 20px;
    @include theme('background', 'background');

    .custom-checkbox {
      & ~ .custom-checkbox {
        margin-left: 5px;
      }
      span {
        cursor: pointer;
        margin:0 auto;
        background:#ffff;
        border: 3px solid #ddd;
        font-size: 12px;
        width: 24px;
        height: 24px;
        line-height: 18px;
        text-align: center;
      }
      input:checked + span {
        background:#2e8bc5 !important;
        color:#fff;
        border-color:#2e8bc5;
        border-width: 3px;
      }
    }
  }
  ._dataTable {
    th, td{
      border-color:#fff;
      border-right: 3px solid #fff !important;
      font-size: 14px;

      .theme-dark & {
        border-color:#1d1f22 !important;
      }

      &:last-child {
        border-right: 0 !important;
      }
    }
    thead {
      th {
        background:#dddddd;
        color:#666;
        .theme-dark & {
          background:#393c41;
          color:#fff;
        }
      }
    }
    tbody {
      td {
        text-align: left;
        background:#eee;
        padding:0 10px;
        &:first-child {
          text-align: left;
        }
        .theme-dark & {
          border-color:#2c3038;
          background:#50555c;
          color:#fff;
        }
      }
      tr:nth-child(even) {
        td {
          background:#f7f7f7 !important;
          .theme-dark & {
            background:#999 !important;
          }
        }
      }
    }


    .custom-checkbox {
      span {
        margin:0 auto;
        background:#ffff;
        @include theme('background', 'background');
      }
    }
  }
}
